.tip {
    color: #444;
    font-size: 24px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    position: relative;
    margin: 200px auto 0;
    width: 240px;
    height: 425px;
}

/* HEAD
========================================================================== */

.hold-head {
	position: relative;
	height: 200px;
}

.head {
	position: relative;
	margin: 0 auto;
    background-color: #FFFF00;
    border: solid 4px #000000;
}

.head-up {
    border-bottom: 4px solid #FFFF00;
    border-radius: 110px 110px 110px 110px;
    height: 195px;
    left: 8px;
    position: absolute;
    top: 2px;
    width: 218px;
    z-index: 1;   
}

.head-down {
	border-radius: 50% 50% 50% 50%;
    height: 154px;
    left: 2px;
    top: 65px;
    width: 234px;
}

.head-middle {
    position: absolute;
    z-index: 2;
    top: 76px;
    left: 8px;
    height: 123px;
    width: 230px;
    border: medium none;
    border-radius: 50% 50% 50% 50%;
}

.ear {
	position: absolute;
	background: none repeat scroll 0 0 #FFFF00;
    border: 5px solid #000000;
    overflow: hidden;
}

.ear-left {
    left: -35px;
    top: -65px;
    width: 100px;
    height: 110px;

    border-radius: 5px 125% 0px 125%;    

    -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
       -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
         -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            transform: rotate(-26deg) skewX(25deg) skewY(0deg);

    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;

    /* animation */
    -webkit-animation: ear_left 4.5s infinite linear 0s;
       -moz-animation: ear_left 4.5s infinite linear 0s;
        -ms-animation: ear_left 4.5s infinite linear 0s;
         -o-animation: ear_left 4.5s infinite linear 0s;
            animation: ear_left 4.5s infinite linear 0s;
}

.ear-left:before {
    background-color: #000000;
    content: "";
    height: 60px;
    left: -32px;
    position: absolute;
    top: -5px;
    width: 60px;

    -webkit-transform: rotate(18deg);
       -moz-transform: rotate(18deg);
         -o-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
            transform: rotate(18deg);
}

.ear-right {
    width: 140px;
    height: 80px;
    right: -77px;
    top: 70px;

    border-radius: 10px 125% 10px 125%;

    -webkit-box-shadow: 11px -9px 0 2px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 11px -9px 0 2px rgba(0, 0, 0, 0.2) inset;

    -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
       -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
         -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
        -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            transform: rotate(-90deg) skewX(27deg) skewY(0deg);

    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;

    /* animation */
    -webkit-animation: ear_right 3s infinite linear 0s;
       -moz-animation: ear_right 3s infinite linear 0s;
        -ms-animation: ear_right 3s infinite linear 0s;
         -o-animation: ear_right 3s infinite linear 0s;
            animation: ear_right 3s infinite linear 0s;

}

.ear-right:before {
    background-color: #000000;
    content: "";
    height: 60px;
    position: absolute;
    right: -5px;
    top: 62px;
    width: 65px;

    -webkit-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
}

.hold-face {
    position: absolute;
    z-index: 3;
    height: 222px;
    width: 238px;    
}

/* EYES */

.eye {
	background-color: #000000;
    border-radius: 50% 50% 50% 50%;
    height: 42px;
    overflow: hidden;
    position: absolute;
    top: 84px;
    width: 42px;
}

.eye-left {
	left: 36px;
}

.eye-right {
	right: 36px;
}

.iris {
    background-color: #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    height: 16px;
    position: absolute;
    top: 7px;
    width: 16px;
}

.iris-small {
	width: 6px;
	height: 11px;
}

.eye-left .iris-small {
    left: 7px;
    top: 32px;

    -webkit-transform: rotate(27deg);
       -moz-transform: rotate(27deg);
         -o-transform: rotate(27deg);
            transform: rotate(27deg);
}

.eye-right .iris-small {
    left: 25px;
    top: 33px;

    -webkit-transform: rotate(-25deg);
       -moz-transform: rotate(-25deg);
         -o-transform: rotate(-25deg);
            transform: rotate(-25deg);
}

.iris-left {
    right: 7px;

    /* animation */    
    -webkit-animation: pisca 3s infinite step-start 0s;
       -moz-animation: pisca 3s infinite step-start 0s;
        -ms-animation: pisca 3s infinite step-start 0s;
         -o-animation: pisca 3s infinite step-start 0s;
            animation: pisca 3s infinite step-start 0s;
}

.iris-right {
	left: 7px;

    /* animation */    
    -webkit-animation: pisca 3s infinite step-start 0s;
       -moz-animation: pisca 3s infinite step-start 0s;
        -ms-animation: pisca 3s infinite step-start 0s;
         -o-animation: pisca 3s infinite step-start 0s;
            animation: pisca 3s infinite step-start 0s;
}

.eyebrow {
    width: 45px;
    height: 2px;
    background: #000000;
    position: absolute;
    top: 85px;
    z-index: 2;

    opacity: 0;

    /* animation */    
    -webkit-animation: angry 5s infinite step-start 2s;
       -moz-animation: angry 5s infinite step-start 2s;
        -ms-animation: angry 5s infinite step-start 2s;
         -o-animation: angry 5s infinite step-start 2s;
            animation: angry 5s infinite step-start 2s;
}

.eyebrow-left {
    left: 35px;

    -webkit-transform: rotate(22deg);
       -moz-transform: rotate(22deg);
         -o-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
            transform: rotate(22deg);
}

.eyebrow-right {
    right: 35px;

    -webkit-transform: rotate(-22deg);
       -moz-transform: rotate(-22deg);
         -o-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
            transform: rotate(-22deg);
}

.eyebrow:before {
    background: #FFFF00;
    height: 20px;
    width: 50px;
    content: '';
    position: absolute;
    top: -20px;
}

/* NOSE */

.nose {
	position: absolute;
	top: 125px;
	left: 111px;
	width: 17px;
	height: 15px;
}

.nose-top {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 34% 34% 22% 22%;
}

.hold-nose-bottom {
	position: absolute;
    top: 1px;
    z-index: 1;
    height: 10px;	
	width: 17px;
    overflow: hidden;
}

.nose-bottom {
    position: absolute;
    top: -10px;
    height: 17px;
    width: 16px;
    background-color: #000000;
    border-radius: 34% 33% 33% 33%;

    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
}

/* CHEEK */

.cheek {
	background-color: #EC0000;
    border: 2px solid #000000;
    border-radius: 50% 50% 50% 50%;
    height: 50px;
    position: absolute;
    top: 126px;
    width: 50px;
}

.cheek-left {
	left: 4px;
}

.cheek-right {
    right: -3px;
}

.light {
    position: absolute;
    top: 88px;
    width: 130px;
    height: 130px;

    background-image:
        -moz-radial-gradient(circle, #FFFFFF 2px, rgba(255,240,174,.5) 4px, rgba(255, 255, 253, 0.1) 30px),
        -moz-radial-gradient(circle, #FFFFFF 1px, rgba(255,186,170,.4) 3px, transparent 30px),
        -moz-radial-gradient(circle, rgba(255,255,255,.9) 1px, rgba(251,255,186,.3) 2px, transparent 40px),
        -moz-radial-gradient(circle, rgba(255,255,255,.4), rgba(253,255,219,.2) 1px, transparent 30px);

    background-image:
        -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 30, from(white), color-stop(0.1, rgba(255,240,174,.5)), to(rgba(255, 255, 253, 0.1))),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, rgba(255,186,170,.4)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));

    opacity: 0;

    /* animation */    
    -webkit-animation: light 5s infinite step-start 2s;
       -moz-animation: light 5s infinite step-start 2s;
        -ms-animation: light 5s infinite step-start 2s;
         -o-animation: light 5s infinite step-start 2s;
            animation: light 5s infinite step-start 2s;
    
}

.light-left {
    left: -35px;
}

.light-right {
    right: -43px;
}

.hold-thunder {
    height: 35px;
    position: absolute;
    width: 30px; 
    z-index: 1; 
    opacity: 0;

    /* animation */    
    -webkit-animation: light 5s infinite step-start 2s;
       -moz-animation: light 5s infinite step-start 2s;
        -ms-animation: light 5s infinite step-start 2s;
         -o-animation: light 5s infinite step-start 2s;
            animation: light 5s infinite step-start 2s;
}

.thunder {
    position: absolute;
    background: #FFFFFF;
    height: 1px;
}

.hold-thunder1 {
    left: 0px;
    top: -4px;
}

.thunder1 {
    width: 10px;
    left: 15px;
    top: 28px;
}

.thunder2{
    left: 8px;
    top: 25px;
    width: 10px;

    -webkit-transform: rotate(41deg);
       -moz-transform: rotate(41deg);
         -o-transform: rotate(41deg);
        -ms-transform: rotate(41deg);
            transform: rotate(41deg);
}

.thunder3{
    left: 3px;
    top: 24px;
    width: 8px;

    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
}

.hold-thunder2 {
    left: 25px;
    top: 4px;

    -webkit-transform: rotate(111deg);
       -moz-transform: rotate(111deg);
         -o-transform: rotate(111deg);
        -ms-transform: rotate(111deg);
            transform: rotate(111deg);
}

.hold-thunder3 {
    left: 25px;
    top: 4px;

    -webkit-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
         -o-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
}

/* MOUTH */

.hold-mouth {
    position: relative;
    top: 150px;
    left: 70px;
    height: 9px;
    width: 100px;
    overflow: hidden;
}

.mouth {
    position: absolute;
    border: solid 2px #000000;
    border-radius: 20px;
}

.mouth-left {
    height: 40px;
    left: 16px;
    top: -35px;
    width: 30px;
}

.mouth-right {
    height: 40px;
    right: 16px;
    top: -35px;
    width: 30px;
}

.mouth-center {
    height: 40px;
    right: 33px;
    top: 0px;
    width: 30px;
    background-color: #FFFF00;
    z-index: 2;
}

.mouth-open {
    opacity: 0;
    background: none repeat scroll 0 0 #000;
    border-radius: 46%;
    height: 50px;
    left: 105px;
    position: absolute;
    top: 153px;
    width: 30px;
    z-index: 10;
}

.mouth-open:before {
    border-width: 0 15px 40px 0;
    border-color: transparent #000 transparent transparent;;
    border-style: solid;
    content: "";
    height: 0;
    position: absolute;
    left: -8px;
    top: 4px;
    width: 0;
}

.mouth-open:after {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 40px 15px 0 0;
    content: "";
    height: 0;
    position: absolute;
    right: -8px;
    top: 4px;
    width: 0;
}

.mouth-open.active { opacity: 1; }

.mouth-open.active + .hold-mouth > .mouth-center { background-color: #000; }

.tongue {
    background-color: #ed5460;
    border-radius: 50%;
    bottom: -2px;
    height: 75%;
    left: -4px;
    position: absolute;
    width: 136%;
    z-index: 10;
    
    -webkit-box-shadow: 0 4px 0 2px #a81729 inset;
       -moz-box-shadow: 0 4px 0 2px #a81729 inset;
            box-shadow: 0 4px 0 2px #a81729 inset;
}

.tongue:before {
    background: none repeat scroll 0 0 #ffff00;
    content: "";
    height: 103%;
    left: -1px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(-17deg);
       -moz-transform: rotate(-17deg);
         -o-transform: rotate(-17deg);
        -ms-transform: rotate(-17deg);
            transform: rotate(-17deg);
    width: 7px;
}

.tongue:after {
    background: none repeat scroll 0 0 #ffff00;
    content: "";
    height: 105%;
    right: -11px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(16deg);
       -moz-transform: rotate(16deg);
         -o-transform: rotate(16deg);
        -ms-transform: rotate(16deg);
            transform: rotate(16deg);
    width: 19px;
}

/* BODY
========================================================================== */

.hold-body {
    background-color: #FFFF00;
    border: 4px solid #000000;
    border-radius: 55% 55% 23% 23%;
    height: 255px;
    left: 12px;
    position: relative;
    top: -70px;
    width: 215px;
    z-index: -1;
}

.hand {
    border: 2px solid #000000;   
    height: 65px;    
    position: absolute;    
    width: 45px;
}

.hand-left {
    top: 100px;
    left: 25px;
    border-radius: 20px 20px 28px 35px;
    -webkit-transform: rotate(-26deg);
       -moz-transform: rotate(-26deg);
         -o-transform: rotate(-26deg);
        -ms-transform: rotate(-26deg);
            transform: rotate(-26deg);
}

.hand-left:before {
    background-color: #FFFF00;
    content: "";
    height: 15px;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 50px;
    z-index: 2; 
}

.hand-right {
    top: 100px;
    right: 25px;
    border-radius: 20px 20px 28px 35px;
    -webkit-transform: rotate(26deg);
       -moz-transform: rotate(26deg);
         -o-transform: rotate(26deg);
        -ms-transform: rotate(26deg);
            transform: rotate(26deg);
}

.hand-right:before {
    background-color: #FFFF00;
    content: "";
    height: 15px;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 50px;
    z-index: 2; 
}

.foot {
    position: absolute;
    border: 3px solid #000000;
    background: #FFFF00;
    height: 25px;
    width: 75px;
    z-index: -2;
}

.left-foot {
    border-radius: 65px 20px 10px 15px;
    bottom: 13px;    
    left: 5px;    
}

.right-foot {
    border-radius: 20px 65px 15px 10px;
    bottom: 13px;
    right: -5px;
}

/* TAIL
========================================================================== */

.hold-tail {
    position: absolute;
    z-index: -2;
    width: 200px;
    height: 340px;
    left: -165px;
    bottom: 0;
    overflow: hidden;
}

.tail {
    position: absolute;
    border: 3px solid #000000;
    background-color: #FFFF00;
}

.brown {
    background: #976500;
}

.tail1 {   
    z-index: 3; 
    border-top: none;
    bottom: 74px;
    height: 25px;
    right: -8px;
    width: 45px;

    -webkit-transform: skewX(-30deg);
       -moz-transform: skewX(-30deg);
         -o-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
            transform: skewX(-30deg);
}

.tail2 {
    z-index: 2;
    bottom: 99px;
    height: 23px;    
    right: 15px;
    width: 21px;
    border-left: none;

    -webkit-transform: skewX(-30deg);
       -moz-transform: skewX(-30deg);
         -o-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
            transform: skewX(-30deg);
}

.tail3 {
    bottom: 99px;
    height: 70px;
    right: 22px;
    width: 25px;
    z-index: 1;

    -webkit-transform: skewX(-30deg);
       -moz-transform: skewX(-30deg);
         -o-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
            transform: skewX(-30deg);

    background: #ffff00;
    background: -moz-linear-gradient(top,  #ffff00 0%, #ffff00 49%, #000000 50%, #926512 51%, #926512 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(49%,#ffff00), color-stop(50%,#000000), color-stop(51%,#926512), color-stop(100%,#926512));
    background: -webkit-linear-gradient(top,  #ffff00 0%,#ffff00 49%,#000000 50%,#926512 51%,#926512 100%);
    background: -o-linear-gradient(top,  #ffff00 0%,#ffff00 49%,#000000 50%,#926512 51%,#926512 100%);
    background: -ms-linear-gradient(top,  #ffff00 0%,#ffff00 49%,#000000 50%,#926512 51%,#926512 100%);
    background: linear-gradient(to bottom,  #ffff00 0%,#ffff00 49%,#000000 50%,#926512 51%,#926512 100%);
}

.tail4 {   
    border-radius: 0 0 0 6px;
    bottom: 140px;
    height: 29px;
    right: 37px;
    width: 63px;
    z-index: 1;
    border-right: none;

    -webkit-transform: skewX(-30deg);
       -moz-transform: skewX(-30deg);
         -o-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
            transform: skewX(-30deg);
}

.tail5 {   
    border-bottom: medium none;
    border-top: none;
    bottom: 172px;
    height: 51px;
    right: 22px;
    width: 52px;
    z-index: 1;

    -webkit-transform: skewX(-30deg);
       -moz-transform: skewX(-30deg);
         -o-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
            transform: skewX(-30deg);
}

.tail6 {   
    border-radius: 10px 0 0 10px;
    border-right: none;
    bottom: 220px;
    height: 60px;
    right: 2px;
    width: 135px;
    z-index: 0;

    -webkit-transform: skewX(41deg);
       -moz-transform: skewX(41deg);
         -o-transform: skewX(41deg);
        -ms-transform: skewX(41deg);
            transform: skewX(41deg);
}

/* ANIMATIONS
========================================================================== */

/* PISCA */

@-webkit-keyframes pisca {
    0%, 100% { opacity: 0; }
    15%, 95% { opacity: 1; }
}

@-moz-keyframes pisca {
    0%, 100% { opacity: 0; }
    15%, 95% { opacity: 1; }
}

@-o-keyframes pisca {
    0%, 100% { opacity: 0; }
    15%, 95% { opacity: 1; }
}

@-ms-keyframes pisca {
    0%, 100% { opacity: 0; }
    15%, 95% { opacity: 1; }
}

/* EAR RIGHT */

@keyframes ear_right {
    0% {
        -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
    50% {
         -webkit-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
                transform: rotate(-87deg) skewX(27deg) skewY(0deg);
    }
    100% {
         -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
              -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                 transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
}

@-webkit-keyframes ear_right {
    0% {
        -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
    50% {
         -webkit-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
                transform: rotate(-87deg) skewX(27deg) skewY(0deg);
    }
    100% {
         -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
              -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                 transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
}

@-moz-keyframes ear_right {
    0% {
        -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
    50% {
         -webkit-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
                transform: rotate(-87deg) skewX(27deg) skewY(0deg);
    }
    100% {
         -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
              -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                 transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
}

@-o-keyframes ear_right {
    0% {
        -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
    50% {
         -webkit-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
                transform: rotate(-87deg) skewX(27deg) skewY(0deg);
    }
    100% {
         -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
              -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                 transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
}

@-ms-keyframes ear_right {
    0% {
        -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
    50% {
         -webkit-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
           -moz-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
             -o-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
            -ms-transform: rotate(-87deg) skewX(27deg) skewY(0deg);
                transform: rotate(-87deg) skewX(27deg) skewY(0deg);
    }
    100% {
         -webkit-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
            -moz-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
              -o-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
             -ms-transform: rotate(-90deg) skewX(27deg) skewY(0deg);
                 transform: rotate(-90deg) skewX(27deg) skewY(0deg);
    }
}

/* EAR LEFT */

@keyframes ear_left {
    0% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
    50% {
        -webkit-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
                transform: rotate(-22deg) skewX(25deg) skewY(0deg);
    }
    100% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
}

@-webkit-keyframes ear_left {
   0% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
    50% {
        -webkit-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
                transform: rotate(-22deg) skewX(25deg) skewY(0deg);
    }
    100% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
}

@-moz-keyframes ear_left {
   0% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
    50% {
        -webkit-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
                transform: rotate(-22deg) skewX(25deg) skewY(0deg);
    }
    100% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
}

@-o-keyframes ear_left {
   0% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
    50% {
        -webkit-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
                transform: rotate(-22deg) skewX(25deg) skewY(0deg);
    }
    100% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
}

@-ms-keyframes ear_left {
   0% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
    50% {
        -webkit-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-22deg) skewX(25deg) skewY(0deg);
                transform: rotate(-22deg) skewX(25deg) skewY(0deg);
    }
    100% {
        -webkit-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
           -moz-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
             -o-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
            -ms-transform: rotate(-26deg) skewX(25deg) skewY(0deg);
                transform: rotate(-26deg) skewX(25deg) skewY(0deg);
    }
}

/* ANGRY */

@keyframes angry {
    0% { opacity: 0; }
    5% { opacity: 1;}
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes angry {
    0% { opacity: 0; }
    5% { opacity: 1;}
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes angry {
    0% { opacity: 0; }
    5% { opacity: 1;}
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes angry {
    0% { opacity: 0; }
    5% { opacity: 1;}
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes angry {
    0% { opacity: 0; }
    5% { opacity: 1;}
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

/* LIGHT */

@keyframes light {
    0% { opacity: 0; }
    5% { opacity: 1;}
    10% { opacity: 0; }
    15% { opacity: 1;}
    20% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes light {
    0% { opacity: 0; }
    5% { opacity: 1;}
    10% { opacity: 0; }
    15% { opacity: 1;}
    20% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes light {
    0% { opacity: 0; }
    5% { opacity: 1;}
    10% { opacity: 0; }
    15% { opacity: 1;}
    20% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes light {
    0% { opacity: 0; }
    5% { opacity: 1;}
    10% { opacity: 0; }
    15% { opacity: 1;}
    20% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes light {
    0% { opacity: 0; }
    5% { opacity: 1;}
    10% { opacity: 0; }
    15% { opacity: 1;}
    20% { opacity: 0; }
    100% { opacity: 0; }
}